body {
    background-color: #000000;
    color: #E0D6CC; 
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Garamond', serif;
    color: #C0C0C0; 
}

.logo {
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

#log-container {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-family: monospace;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    color: #E0D6CC;
}

.report-container {
    width: 80%;
    margin: 20px auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
}
